.formbox{
    height: 11.5rem;
    width:  25rem;
    border:  1px solid black;
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-left: 20rem;
}

#fileinput{
    margin-left: 7rem;
    height: 3rem;
    margin-top: 2rem;
}

.inputAuthLoc{
    display: flex;
    flex-flow: row wrap;
    margin-left: 2rem;
    gap: 1rem;
}

.authloc{
    width: 9rem;
}

#description{
    width: 19.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

#postbutton{
    border: 1px solid #707070;
    width: 5rem;
    height: 1.5rem;
    margin-left: 10rem;
}